@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: white;
}

body{
  background-color: #333;
}

/* Navbar Style */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #3af873;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #3af873;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* Home Style */

.home{
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.home form{
  margin-top: 50px;
}

.home input{
  background-color: #333;
  color: #3af873;
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  font-size: 30px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.home label{
  color: #3af873;;
  text-align: left;
  display: block;
  font-size: 30px;
}

.home button{
  background-color: #3af873;
  color: #333;
  border: 0;
  border-radius: 8px;
  font-size: 30px;
  margin-top: 15px;
}

.home button:hover{
  color: rgba(231, 231, 231, 0.884);
  cursor: pointer;
}

/* Input Number side arrow */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
